# based on sample from uwsgi-docs.readthedocs.io    content => template('uwsgi/weather_api.conf.erb')
[Unit]
Description=weather_api uwsgi
After=syslog.target

[Service]
User=www-data
Group=www-data
ExecStart=uwsgi --ini /var/www/weather_api/weather_api.ini
# Requires systemd version 211 or newer
WorkingDirectory=/var/www/weather_api/
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
